.feed {
    flex: 0.5;
    width: 100%;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    height: 100vh;
}

.feed__header {
    padding: 0.5rem 1rem;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

}


.feed__header h2 {
    font-size: 1rem;

}